<md-toolbar layout="row" layout-align="center center">


  <section flex layout="row" layout-align="left center">
    <md-button href="#" class="md-raised">Home</md-button>
    <md-button href="#" class="md-raised">About</md-button>
    <md-button ui-sref="map" class="md-raised">Map</md-button>
  </section>


</md-toolbar>
