<div layout="vertical" layout-fill>

  <md-content>
    <header>
      <acme-navbar creation-date="main.creationDate"></acme-navbar>
    </header>


    <div class="techs" layout-align="center">
      <md-card>
        <md-card-content>
          <img class="pull-right" ng-src="" alt="">
          <h3 class="md-title"></h3>
          <p></p>
        </md-card-content>
        <div class="md-action-buttons">
          <md-button>Website</md-button>
        </div>
      </md-card>
    </div>
  </md-content>

</div>
