

<leaflet lf-center="mapCtr.chicago" markers="mapCtr.markers" height="380px" width="100%"></leaflet>

<h2>Default Icons</h2>
<button ng-click="mapCtr.markers.m1.icon=mapCtr.defaultIcon">Default</button>
<button ng-click="mapCtr.markers.m1.icon=mapCtr.leafIcon">Leaflet Icon</button>
<button ng-click="mapCtr.markers.m1.icon=mapCtr.orangeLeafIcon">Orange leaflet Icon</button>

<h2>ExtraMarker Icons</h2>
<p>
  <button ng-click="mapCtr.markers.m1.icon=mapCtr.extraMarkerIcon; mapCtr.markers.m1.icon.markerColor='blue-dark'">Blue</button>
  <button ng-click="mapCtr.markers.m1.icon=mapCtr.extraMarkerIcon; mapCtr.markers.m1.icon.markerColor='red'">Red</button>
  <button ng-click="mapCtr.markers.m1.icon=mapCtr.extraMarkerIcon; mapCtr.markers.m1.icon.markerColor='green'">Green</button>
</p>
<p>
  <button ng-click="mapCtr.markers.m1.icon=mapCtr.extraMarkerIcon; mapCtr.markers.m1.icon.icon='fa-tag'">Tag</button>
  <button ng-click="mapCtr.markers.m1.icon=mapCtr.extraMarkerIcon; mapCtr.markers.m1.icon.icon='fa-usd'">USD</button>
  <button ng-click="mapCtr.markers.m1.icon=mapCtr.extraMarkerIcon; mapCtr.markers.m1.icon.icon='fa-heart'">Heart</button>
  <button ng-click="mapCtr.markers.m1.icon=mapCtr.extraMarkerIcon; mapCtr.markers.m1.icon.icon='fa-home'">Home</button>
  <button ng-click="mapCtr.markers.m1.icon=mapCtr.extraMarkerIcon; mapCtr.markers.m1.icon.icon='fa-cog'">Cog</button>
  <button ng-click="mapCtr.markers.m1.icon=mapCtr.extraMarkerIcon; mapCtr.markers.m1.icon.icon='fa-star'">Star</button>
  <button ng-click="mapCtr.markers.m1.icon=mapCtr.extraMarkerIcon; mapCtr.markers.m1.icon.icon='fa-certificate'">Certificate</button>
</p>
<p>
  <button ng-click="mapCtr.markers.m1.icon=mapCtr.extraMarkerIcon; mapCtr.markers.m1.icon.shape='square'">Square</button>
  <button ng-click="mapCtr.markers.m1.icon=mapCtr.extraMarkerIcon; mapCtr.markers.m1.icon.shape='star'">Star</button>
  <button ng-click="mapCtr.markers.m1.icon=mapCtr.extraMarkerIcon; mapCtr.markers.m1.icon.shape='circle'">Circle</button>
</p>
